<!DOCTYPE html>
<html lang="en">

<head>
    <title>Formulário de Notícias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>


</body>

</html>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <div class="container">
        <div class="page-header">
            <h1>Adicionar Notícia</h1>
        </div>
        <br />
        <% if(erros){ %>
            <% for(var i=0; i < erros.length; i++){ %>
                <ul>
                    <li>
                        <%= erros[i].msg %>
                    </li>
                </ul>
                <% } %>
                    <br />
                    <% } %>


                        <form action="/noticias/salvar" method="post">
                            <label for="#title">Titulo</label>
                            <input type="text" name="titulo" id="title" placeholder="Digite o titulo da noticia" value="<%= noticia.titulo %>">
                            <br />
                            <label for="#resumo">Resumo</label>
                            <input type="text" name="resumo" id="resumo" placeholder="Digite o resumo da noticia" value="<%= noticia.resumo %>">
                            <br />
                            <label for="#autor">Autor</label>
                            <input type="text" name="autor" id="autor" placeholder="Digite o autor da noticia" value="<%= noticia.autor %>">
                            <br />
                            <label for="#date">Data</label>
                            <input type="date" name="data_noticia" id="date" placeholder="Digite a Data da noticia" value="<%= noticia.data_noticia %>">
                            <br />
                            <label for="#noticia">Noticia</label>
                            <textarea name="noticia" id="noticia" rows="5" col="30"><%= noticia.noticia %></textarea>
                            <br />
                            <input type="submit" value="Enviar">

                        </form>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>